<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <title>{{ gettext("Test Document") }}</title>
        <link rel="stylesheet" type="text/css" href="./test.css">
        <style>
            p {
                font-family: "Now";
            }
        </style>
    </head>
    <body>
        {# spam bacon eggs #}
        <p>
            {{ _("spam {bacon} eggs").format(bacon="bacon") }}
        </p>
        <ul>
            {%- for word in ["spam", "bacon", "eggs"] -%}
                <li>{{ word }}</li>
            {%- end -%}
        </ul>
    </body>
</html>
