<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <title>{{_ "Test Document" }}</title>
        <link rel="stylesheet" type="text/css" href="./test.css">
    </head>
    <body>
        <ul>
            {{# each ["spam", "bacon", "eggs"] }}
                <li>{{ this }}</li>
            {{/ each }}
        </ul>
    </body>
</html>
